<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Initial Commit</title>
        <meta name="description" content="Get the first commit of a repo!">
        <meta name="author" content="DomingoHui">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" media="screen" href="more.css">
        <script src="https://vuejs.org/js/vue.min.js"></script>
        <script src="helpers.js"></script>
    </head>

    <body>
        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <a id="forkme_banner" href="https://github.com/domingohui/initial-commit">View on GitHub</a>
                <h1 id="project_title">Initial Commit</h1>
                <h2 id="project_tagline">Find the first commit of any repo!</h2>
            </header>
        </div>

        <!-- APP MAIN -->
        <div id="app" class="outer">
            <section id="main_content" class="inner">
                <h3>&lt; / 	&gt;</h3>
                <form v-on:submit.prevent>
                    <input v-model="username" placeHolder="Username" />
                    <input v-model="repo" placeHolder="Repo name" />

                    <button type="submit" v-on:click="fetch_first_commit">Get the first commit!</button>
                    <button type="reset" v-on:click="reset">Clear</button>
                </form>

                <div v-if="show_commit">
                    <FirstCommit v-bind:commit="commit" />
                </div>
                <div v-else-if="error">
                    <ErrorMsg v-bind:message="error" />
                </div>
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p class="copyright">Created by <a href="https://github.com/domingohui">Domingo Hui</a></p>
                <p class="copyright">Slate theme maintained by <a href="https://github.com/jasoncostello">Jason Costello</a></p>
            </footer>
        </div>

    </body>
    <script src="main.js"></script>
</html>
