<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The HTML5 Herald</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>
        <div id="app">
            <input v-model="username" placeHolder="Username" />
            <input v-model="repo" placeHolder="Repo name" />

            <button v-on:click="fetch_first_commit">Get the first commit!</button>

            <div v-if="show_commit">
                <FirstCommit v-bind:commit="commit" />
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>
